/* Sticky footer styles
-------------------------------------------------- */
html {
  min-height: 100%;
  height:100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  min-height: 100%;
  height:100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.site-wrapper {
  position: relative;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  overflow: hidden;
}

.site-background {
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  width: auto;
  height: auto;
  min-height: 120%;
  min-width: 120%;
  opacity: 0.5;
  filter: alpha(opacity = 50);
  margin: auto;
}

.explorer-windows {
  position: absolute;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 1%;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container-fluid {
  width: auto;
  height: 100%;
  padding: 0 0px;
}

.row{
  height: 100%;
  width: 100%;
  left: 0%;
  right: 0%;
  padding: 0 0px;
  margin: 0%;
}

.col-sm-2{
  height: 100%;
  padding: 0 0px;
}

.col-xs-2{
  height: 100%;
  padding: 0 0px;
}

.col-sm-1{
  height: 100%;
  padding: 0 0px;
}

.col-xs-1{
  height: 100%;
  padding: 0 0px;
}

.col-sm-12{
  padding: 0 0px;
}

.col-xs-12{
  padding: 0 0px;
}

.button-distr-window{
}

.upwards-expandable{
  height: 100%;
  position: absolute;
  bottom: 0px;
  transition-property: height;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
}

.upwards-expandable:hover{
  height: 1000%;
}

.facebook{
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  width: 100%;
  border-style: solid;
  border-width: 2px;
  border-bottom-width: 0px;
  border-color: #0000ff;
  opacity: 0.8;
  filter: alpha(opacity = 80);
  overflow: hidden;
}

.facebook .screen{
  height: 100%;
  width: 100%;
  background-color: #0000ff;
  opacity: 0.2;
  filter: alpha(opacity = 20);
}

.livefb{
  height: 100%;
  width:100%;
}

.reddit{
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  width: 100%;
  border-style: solid;
  border-width: 2px;
  border-bottom-width: 0px;
  border-color: #ff0000;
  opacity: 0.8;
  filter: alpha(opacity = 80);
  overflow: hidden;
}

.reddit .screen{
  height: 100%;
  width: 100%;
  background-color: #ff0000;
  opacity: 0.2;
  filter: alpha(opacity = 20);
}

.simple-padded{
  height:100%;
  left: 3%;
  right: 3%;
  width: 94%;
}

.expanding-circle-box{
  pointer-events: none;
}

.expanding-circle{
  position: absolute;
  border-radius: 100%;
}

.window-placeable{
  border-style: solid;
  border-width: 2px;
  border-color: #000000;
}


/* Custom button crap */

.btn-default {
  color: #eee;
  background-color: #555555;
  border-color: #333333;
}
.btn-default:focus,
.btn-default.focus {
  color: #eee;
  background-color: #555555;
  border-color: #333333;
}
.btn-default:hover {
  color: #eee;
  background-color: #333333;
  border-color: #000;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #fff;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
  color: #eee;
  background-color: #2f2f2f;
  border-color: #000;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus {
  background-color: #333333;
  border-color: #ccc;
}
.btn-default .badge {
  color: #000;
  background-color: #fff;
}
