/* Sticky footer styles
-------------------------------------------------- */
html {
  min-height: 100%;
  height:100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  min-height: 100%;
  height:100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.site-wrapper {
  position: relative;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  overflow: hidden;
}

.site-background {
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  width: auto;
  height: auto;
  min-height: 120%;
  min-width: 120%;
  opacity: 0.5;
  filter: alpha(opacity = 50);
  margin: auto;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 1%;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container-fluid {
  width: auto;
  height: 100%;
  padding: 0 0px;
}

.row{
  height: 100%;
  width: 100%;
  left: 0%;
  right: 0%;
  padding: 0 0px;
  margin: 0%;
}

.col-sm-2{
  height: 100%;
  padding: 0 0px;
}

.col-xs-2{
  height: 100%;
  padding: 0 0px;
}

.col-sm-1{
  height: 100%;
  padding: 0 0px;
}

.col-xs-1{
  height: 100%;
  padding: 0 0px;
}

.upwards-expandable{
  height: 100%;
  position: absolute;
  bottom: 0px;
  transition-property: height;
  transition-duration: .1s;
  transition-timing-function: ease-in-out;
}

.upwards-expandable:hover{
  height: 1000%;
}

.facebook{
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  width: 100%;
  border-style: solid;
  border-width: 2px;
  border-bottom-width: 0px;
  border-color: #0000ff;
  opacity: 0.8;
  filter: alpha(opacity = 80);
  overflow: hidden;
}

.facebook .screen{
  height: 100%;
  width: 100%;
  background-color: #0000ff;
  opacity: 0.2;
  filter: alpha(opacity = 20);
}

.reddit{
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  width: 100%;
  border-style: solid;
  border-width: 2px;
  border-bottom-width: 0px;
  border-color: #ff0000;
  opacity: 0.8;
  filter: alpha(opacity = 80);
  overflow: hidden;
}

.reddit .screen{
  height: 100%;
  width: 100%;
  background-color: #ff0000;
  opacity: 0.2;
  filter: alpha(opacity = 20);
}

.simple-padded{
  height:100%;
  left: 3%;
  right: 3%;
  width: 94%;
}

.expanding-circle{
  width: 100%;
  margin-top: 50%;
}