/* Sticky footer styles
-------------------------------------------------- */
html {
  min-height: 100%;
  height:100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  min-height: 100%;
  height:100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

::-webkit-scrollbar {
    display: none;
}

@font-face {
  font-family: SAO;
  src: url('assets/fonts/SAO-font.otf');
}

.site-wrapper {
  position: relative;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  overflow: hidden;
  background-color: #000;
}

.site-background {
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  width: auto;
  height: auto;
  min-height: 120%;
  min-width: 120%;
  opacity: 0.7;
  filter: alpha(opacity = 70);
  margin: auto;
}

.explorer-windows {
  position: absolute;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 1%;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container-fluid {
  width: auto;
  height: 100%;
  padding: 0 0px;
}

.row{
  height: 100%;
  width: 100%;
  left: 0%;
  right: 0%;
  padding: 0 0px;
  margin: 0%;
}

.col-sm-2{
  height: 100%;
  padding: 0 0px;
}

.col-xs-2{
  height: 100%;
  padding: 0 0px;
}

.col-sm-1{
  height: 100%;
  padding: 0 0px;
}

.col-xs-1{
  height: 100%;
  padding: 0 0px;
}

.col-sm-12{
  padding: 0 0px;
}

.col-xs-12{
  padding: 0 0px;
}

.button-distr-window{
}

.upwards-expandable{
  height: 100%;
  position: absolute;
  bottom: 0px;
  transition-property: height;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
}

.upwards-expandable:hover{
  height: 1000%;
}

.facebook{
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  width: 100%;
  border-style: solid;
  border-width: 2px;
  border-bottom-width: 0px;
  border-color: #0000ff;
  opacity: 0.8;
  filter: alpha(opacity = 80);
  overflow: hidden;
}

.facebook .screen{
  height: 100%;
  width: 100%;
  background-color: #0000ff;
  opacity: 0.2;
  filter: alpha(opacity = 20);
}

.livefb{
  height: 100%;
  width:100%;
}

.reddit{
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  width: 100%;
  border-style: solid;
  border-width: 2px;
  border-bottom-width: 0px;
  border-color: #ff0000;
  opacity: 0.8;
  filter: alpha(opacity = 80);
  overflow: hidden;
}

.reddit .screen{
  height: 100%;
  width: 100%;
  background-color: #ff0000;
  opacity: 0.2;
  filter: alpha(opacity = 20);
}

.simple-padded{
  height:100%;
  left: 3%;
  right: 3%;
  width: 94%;
}

.expanding-circle-box{
  pointer-events: none;
}

.expanding-circle{
  position: absolute;
  border-radius: 100%;
}

.window-placeable{
}

.folder-window{/*
  border-width: 1px;
  border-style: solid;
  border-color: #00ff00;
  -webkit-clip-path: polygon(0px 100px, 100px 0px, 0px 0px);*/
}

.file-triangle{
  border-left: 0px;
  border-bottom: 7.5px solid transparent;
  border-right: 12.99px solid #eee;
  border-top: 7.5px solid transparent;
  width: 0;
  height: 0;
}

.window-text{
  height: 100%;
  padding: 4px 2px;
  font-family: SAO;
  font-size: 16px;
  line-height: 100%;
  text-align: left;
  float: left;
  width: 120px;
  overflow: hidden;
}

/* Custom button crap */

.btn-default {
  color: #eee;
  background-color: #555555;
  border-color: #333333;
}
.btn-default:focus,
.btn-default.focus {
  color: #eee;
  background-color: #555555;
  border-color: #333333;
}
.btn-default:hover {
  color: #eee;
  background-color: #333333;
  border-color: #000;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #fff;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
  color: #eee;
  background-color: #2f2f2f;
  border-color: #000;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus {
  background-color: #333333;
  border-color: #ccc;
}
.btn-default .badge {
  color: #fff;
  background-color: #fff;
}

/* File Window Button */
.btn-default-2 {
  color: #555555;
  background-color: #eee;
  border-color: #ddd;
}
.btn-default-2:focus,
.btn-default-2.focus {
  color: #555555;
  background-color: #eee;
  border-color: #ddd;
}
.btn-default-2:hover {
  color: #555555;
  background-color: #ccc;
  border-color: #bbb;
}
.btn-default-2:active,
.btn-default-2.active,
.open > .dropdown-toggle.btn-default-2 {
  color: #fff;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-default-2:active:hover,
.btn-default-2.active:hover,
.open > .dropdown-toggle.btn-default-2:hover,
.btn-default-2:active:focus,
.btn-default-2.active:focus,
.open > .dropdown-toggle.btn-default-2:focus,
.btn-default-2:active.focus,
.btn-default-2.active.focus,
.open > .dropdown-toggle.btn-default-2.focus {
  color: #555555;
  background-color: #aaa;
  border-color: #999;
}
.btn-default-2:active,
.btn-default-2.active,
.open > .dropdown-toggle.btn-default-2 {
  background-image: none;
}
.btn-default-2.disabled:hover,
.btn-default-2[disabled]:hover,
fieldset[disabled] .btn-default-2:hover,
.btn-default-2.disabled:focus,
.btn-default-2[disabled]:focus,
fieldset[disabled] .btn-default-2:focus,
.btn-default-2.disabled.focus,
.btn-default-2[disabled].focus,
fieldset[disabled] .btn-default-2.focus {
  background-color: #333333;
  border-color: #ccc;
}
.btn-default-2 .badge {
  color: #fff;
  background-color: #fff;
}

/* File Window a */
.btn-default-2a {
  color: #555555;
  background-color: #eba601;
  border-color: #db9601;
}
.btn-default-2a:focus,
.btn-default-2a.focus {
  color: #555555;
  background-color: #eba601;
  border-color: #db9601;
}
.btn-default-2a:hover {
  color: #555555;
  background-color: #db9601;
  border-color: #cb8601;
}
.btn-default-2a:active,
.btn-default-2a.active,
.open > .dropdown-toggle.btn-default-2a {
  color: #fff;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-default-2a:active:hover,
.btn-default-2a.active:hover,
.open > .dropdown-toggle.btn-default-2a:hover,
.btn-default-2a:active:focus,
.btn-default-2a.active:focus,
.open > .dropdown-toggle.btn-default-2a:focus,
.btn-default-2a:active.focus,
.btn-default-2a.active.focus,
.open > .dropdown-toggle.btn-default-2a.focus {
  color: #555555;
  background-color: #cb8601;
  border-color: #bb7600;
}
.btn-default-2a:active,
.btn-default-2a.active,
.open > .dropdown-toggle.btn-default-2a {
  background-image: none;
}
.btn-default-2a.disabled:hover,
.btn-default-2a[disabled]:hover,
fieldset[disabled] .btn-default-2a:hover,
.btn-default-2a.disabled:focus,
.btn-default-2a[disabled]:focus,
fieldset[disabled] .btn-default-2a:focus,
.btn-default-2a.disabled.focus,
.btn-default-2a[disabled].focus,
fieldset[disabled] .btn-default-2a.focus {
  background-color: #333333;
  border-color: #ccc;
}
.btn-default-2a .badge {
  color: #fff;
  background-color: #fff;
}

/* Button Circle */
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 8px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

.btn-file {
  height: 30px;
  width: 150px;
  text-align: center;
  padding: 2px 2px;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 0px;
}